{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p> I am,
          Design Engineer Professional at BT
          Bangalore Urban, Karnataka, India
        </p>
        <p>I work on,
        <ul>
        <li>IAM </li>
        <li>API MANAGEMENT</li>
        <li>CA LAYER7</li>
        <li>API GATEWAY</li>
        <li>ANSIBLE</li>
        <li>AWS</li>
        <li>AZURE AD</li>
        </ul>
        </p>
        <p>Looking forward to learn more..</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}