{% include "header.html" %}
{% if current_user.is_authenticated %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://mediashower.com/img/3F1B44C6-334E-11E5-A30A-C9395910E613/bigstock-Quill-pen-and-ink-well-resting-89718662.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Prateek's Blog</h1>
            <span class="subheading">A collection of your random musings.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in all_posts %}
        <div class="post-preview">
          <a href="{{ url_for('show_post', index=post.id) }}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.subtitle}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{post.author.name}}</a>
            on {{post.date}}</p>
        </div>
        <hr>

        {% endfor %}


        <!-- New Post -->

        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{url_for('create_new_post')}}">Create New Post</a>
        </div>

      </div>
    </div>
  </div>
  <hr>
{% endif %}
{% include "footer.html" %}